@media only screen and (max-width:768px) {
    .container{
        display: none;
    }
    .mobile-container{
        display: block;
        padding: 0px 20px;
        background-color: #1c1c1f;
        color: #fff;
        margin: 0px;
    }
    .mobile-nav{
        display: flex;
    }
    .nav-text{
        margin-right: 20px;
    }
    .search-icon{
        margin-right: 10px;
    }
    .search{
        background-color: #2a2929;
        border: none;
        margin-top: 0px;
        color: #fff;
    }
    .search-holder{
        background-color: #2a2929; 
        padding: 7px; 
        border-radius: 20px; 
        color: #787878; 
        display: flex;
    }
    .search:focus{
        outline: none;
    }
    ::placeholder{
        color: #787878;
        font-size: 14px;
    }
    .trendingSongs{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .mobile-reaction{
        margin-right: 7px;
        margin-top: 4px;
    }
    .arrow{
        color: #192bc2;
    }
    .dots{
        color: #c9c9c9;
    }
    .Mymusic{
        width: 100%;
    }
    .trendingSongs-cont{
        display: flex;
    }
    .trendingSongs-img{
        width: 60px; 
        height: 60px; 
        margin-right: 12px; 
        border-radius: 5px;
    }
    .trendingSongs-title{
        margin-top: 0px; 
        margin-bottom: 0px;
    }
    .trendingSongs-btn{
        display: flex; 
        border: 1px solid #0c8346; 
        height: 20px; 
        background-color: #1c1c1f; 
        margin-right: 10px; 
        border-radius: 5px; 
        padding-bottom: 0px; 
        color: #0c8346;
    }
    .trendingSongs-artist{
        font-size: 14px; 
        margin-top: 0px; 
        color: #c9c9c9;
    }
    .trendingSongs-activity{
        display: flex; 
        justify-content: space-between; 
        margin-top: 6px;
    }
    .trendingSongs-reaction{
        font-size: 12px; 
        display: flex; 
        color: #c9c9c9;
    }
    .share{
        font-size: 12px; 
        display: flex; 
        color: #c9c9c9;
    }
    .comment{
        font-size: 12px; 
        display: flex; 
        color: #c9c9c9;
    }
    .trendingSongs-activitiesSub{
        display: flex; 
        margin-top: 20px;
    }
    .arrow-holder{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        border: 1px solid #787878; 
        border-radius: 20px; 
        margin-right: 10px;
    }
    .trendingSongs-sub{
        display: flex;
        margin-top: 5px;
    }
    .mobile-playing-img{
        width: 60px; 
        height: 60px; 
        border-radius: 7px;
    }
    .mobile-audio{
        display: flex; 
        margin-top: 10px;
    }
}